[submodule "zsh"]
	path = .config/zsh
	url = ../config-zsh.git
	ignore = dirty
[submodule "progs"]
	path = .progs
	url = ../config-progs.git
	ignore = dirty
[submodule "vim"]
	path = .config/vim
	url = ../config-vim.git
	ignore = dirty
[submodule "tmux"]
	path = .config/tmux
	url = ../config-tmux.git
	ignore = dirty
