[submodule "zsh"]
	path = .config/zsh
	url = ../config-zsh.git
	ignore = dirty
[submodule "progs"]
	path = .progs
	url = ../config-progs.git
	ignore = dirty
[submodule "vim"]
	path = .config/vim
	url = ../config-vim.git
	ignore = dirty
[submodule "tmux"]
	path = .config/tmux
	url = ../config-tmux.git
	ignore = dirty
[submodule "screen"]
	path = .config/screen
	url = ../config-screen.git
	ignore = dirty
[submodule "readline"]
	path = .config/readline
	url = ../config-readline.git
	ignore = dirty
[submodule "ranger"]
	path = .config/ranger
	url = ../config-ranger.git
	ignore = dirty
[submodule "git"]
	path = .config/git
	url = ../config-git.git
	ignore = dirty
[submodule "x11"]
	path = .config/x11
	url = ../config-x11.git
	ignore = dirty
[submodule "gtk"]
	path = .config/gtk
	url = ../config-gtk.git
	ignore = dirty
[submodule "awesome"]
	path = .config/awesome
	url = ../config-awesome.git
	ignore = dirty
[submodule "vimperator"]
	path = .vimperator
	url = ../config-vimperator.git
	ignore = dirty
[submodule "pulseaudio"]
	path = .config/pulse
	url = ../config-pulseaudio.git
	ignore = dirty
